
:root {
  --main-color: #312244;
  --main-color-darker: #272640;
  --main-color-lighter: #5C1E5C;
  --secondary-color: #0b525b;
  --third-color: #1B3A4B;
  --very-light-blue: #00d4ff;
}
body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,117,141,1) 100%);
  
}



#h1 {
  font-family: Quicksand;
  letter-spacing: 10px;
  margin-top: 5px;
  margin-left: 10px;
  color: var(--very-light-blue);
  text-shadow: -3px 0px 6px var(--very-light-blue);
}

#h1.open{
  color: var(--main-color-darker);
  animation-delay: 0.6s;
  animation: blacktowhitetext 0.8s;
  
}

header {
  position: relative;
  top: 0px;
  cursor: pointer;
}

#bars {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 60px;
  height: 40px;
  cursor: pointer;
}



#bar1{
  position: absolute;
  top: 5px;
  right: 10px;
  width: 40px;
  padding: 3px;
  border-radius: 2px;
  transform-origin: top left;
  transform: rotate(0deg);
  background-color: var(--main-color-darker);
}

#bar2 {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 40px;
  padding: 3px;
  opacity: 100%;
  border-radius: 2px;
  background-color: var(--main-color-darker);
}

#bar3 {
  position: absolute;
  top: 27px;
  right: 10px;
  width: 40px;
  padding: 3px;
  border-radius: 2px;
  transform-origin: bottom left;
  transform: rotate(0deg);
  background-color: var(--main-color-darker);
}

#bars.open #bar1{
  animation-delay: 0.6s;
  animation: blacktowhitebars1 0.8s;
  background-color: var(--very-light-blue);
  transform: rotate(35.5deg);
}

#bars.open #bar2{
  animation-delay: 0.6s;
  animation: blacktowhitebars2 0.5s;
  background-color: var(--very-light-blue);
  opacity: 0%;
}
#bars.open #bar3{
  animation-delay: 0.6s;
  animation: blacktowhitebars3 0.8s;
  background-color: var(--very-light-blue);
  transform: rotate(-35.5deg);
}

#right-panel {
  position: absolute;
  width: 90px;
  height: 100%;
  top: 0px;
  right: 0px;
  background-color: var(--main-color-darker);
  box-shadow: 0px 0px 30px 0px var(--main-color-darker);
  visibility: hidden;
}
#right-panel.open{
  visibility: visible;
	animation: scale-up-ver-top 0.25s both;
}

#left-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 90px;
  background-color: var(--very-light-blue);
  visibility: hidden;
}
#left-panel.open{
  visibility: visible;
  animation: scale-up-hor-right 0.4s both;
  animation-delay: 0.25s
  
}

/*-------------------------------------------*/
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}

@keyframes blacktowhitetext {
  from {color: var(--very-light-blue);}
  to {color: var(--main-color-darker);}
}
@keyframes blacktowhitebars1 {
  from {background-color: var(--main-color-darker);
      transform: rotate(0deg);}
  to {background-color: var(--very-light-blue);
    transform: rotate(35.5deg);}
}
@keyframes blacktowhitebars2 {
  from {background-color: var(--main-color-darker);
        opacity: 100%;}
  to {background-color: var(--very-light-blue);
      opacity: 0%;}
}
@keyframes blacktowhitebars3 {
  from {background-color: var(--main-color-darker);
        transform: rotate(0deg);}
  to {background-color: var(--very-light-blue);
      transform: rotate(-35.5deg);}
}



